@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Game
@{
    var photopath = $"/images/{Model.PhotoPath ?? "noimage.png"}";
    var showButtons = (bool)ViewData["ShowButtons"];
}

<div class="jumbotron"> 
    <div class="row">
        <div class="col-3">
            <img class="m-2" src="@photopath" asp-append-version="true"/>
        </div>
        <div class="col">
             <h3 class="display-4">@Model.Name</h3>
             <h3 class="display-6">@Model.CreatedBy</h3>
        </div>
        @if (showButtons)
        {
           <div class="col align-self-center text-end">
               <a asp-controller="GameController" asp-action="Index"
               class="btn btn-lg btn-success" style="width:120px; height:100px">
                    <div class="col align-content-center">Купить</div>
                    <div class="col align-content-center">@Model.Cost руб</div>
               </a>
           </div>
        }
    </div>
</div>
<hr />