@model Game
@{
    var photopath = $"/images/{Model.PhotoPath ?? "noimage.png"}";
    var showButtons = (bool)ViewData["ShowButtons"];
}


<div class="jumbotron"> 
   <div class="col" style="float: left">
       <img class="m-2" src="@photopath" asp-append-version="true"/>
   </div>

   <div class="row ms-3" style="float: left;">
           <h3 class="display-4">@Model.Name</h3>
           <h3 class="display-6">@Model.CreatedBy</h3>
   </div> 
        @if (showButtons)
        {
        <div class="col float-end">
            <button class="btn btn-lg btn-success" style="width:120px">
           <div class="col align-content-center">Купить</div>
           <div class="col align-content-center">@Model.Cost руб</div>
           </button>
       </div>
        }
</div>
<hr />