@page
@model Steam3.RazorPages.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row text-center">
    <div class="col">
        <h1 class="display-1">404</h1>
        <h2 class="display-3">Page Not Founded</h2>
        <p>Back to <a asp-page="/Index">store</a>.</p>
    </div>
</div>
